<div id="page" data-barba="container">
  <div id="content" class="page-content">
    <div class="section">
      <div class="wrapper">
        <span class="a-empty-space hide_mobile" style="height: 250px"></span>
        <span class="a-empty-space hide_desktop" style="height: 130px"></span>
    
        <div class="c-col-12">
          <div class="text-wrapper">
            <h1
              class="has-anim big-title"
              data-stagger="0.01"
              data-duration="1.2"
              data-delay="0"
              data-animation="charsUp"
            >
              Merhaba, biz Finzeta.
              <br />Kurumsal firmalar için yapay zekâ destekli çözümler sunuyoruz.
            </h1>
          </div>
        </div>
    
        <div class="c-col-4"></div>
    
        <div class="c-col-8">
          <div class="text-wrapper">
            <h4
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.05"
              data-duration="1.25"
              data-delay=".5"
              data-animation="linesUp"
            >
              İş süreçlerinizi optimize etmek, kaynak kullanımını artırmak ve
              operasyonel verimliliği en üst düzeye çıkarmak için yenilikçi yapay
              zekâ çözümleri geliştiriyoruz. Teknoloji ile geleceğe birlikte yön
              veriyoruz.
            </h4>
          </div>
    
          <span class="a-empty-space" style="height: 30px"></span>
    
          <span
            data-color="rgba(25,27,29,.6)"
            data-anim="true"
            class="alioth-seperator"
          ></span>
    
          <span class="a-empty-space" style="height: 30px"></span>
        </div>
    
        <div class="c-col-4"></div>
    
        <div class="c-col-4">
          <div data-delay="0" class="a-number-counter light">
            <div class="ac-number">20</div>
            <span class="ac-sign">+</span>
            <div class="ac-title">Tamamlanan Proje</div>
          </div>
    
          <span class="a-empty-space" style="height: 70px"></span>
    
          <div data-delay="0" class="a-number-counter light">
            <div class="ac-number">15</div>
            <div class="ac-title">Mutlu Müşteri</div>
          </div>
        </div>
    
        <div class="c-col-4">
          <div data-delay="0" class="a-number-counter light">
            <div class="ac-number">5</div>
            <div class="ac-title">Farklı Sektör</div>
          </div>
    
          <span class="a-empty-space" style="height: 70px"></span>
    
          <div data-delay="0" class="a-number-counter light">
            <div class="ac-number">10</div>
            <span class="ac-sign">+</span>
            <div class="ac-title">Uzman Ekip Üyesi</div>
          </div>
        </div>
      </div>
    </div>
    
    <div style="background: #131313" class="section">
      <div class="wrapper">
        <div
          class="c-col-12 has-parallax"
          data-parallax-strength="0.1"
          data-parallax-direction="up"
        >
          <div data-autoplay="true" class="alioth-embed-video">
            <div class="video-overlay"><span class="play-button"></span></div>
            <div
              class="embed-video"
              data-plyr-provider="vimeo"
              data-plyr-embed-id="84944727"
            ></div>
          </div>
        </div>
      </div>
    
      <div class="wrapper-small">
        <div class="c-col-12">
          <div class="text-wrapper">
            <h1
              style="color: #fff"
              class="big-title has-anim"
              data-stagger="0.01"
              data-duration="1.5"
              data-delay="0"
              data-animation="charsUp"
            >
              Çözümlerimiz
            </h1>
          </div>
        </div>
    
        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Hizmetlerimiz
            </h5>
          </div>
        </div>
    
        <div class="c-col-9">
          <div class="text-wrapper">
            <h4
              style="color: #fff"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
            >
              Finzeta, işletmelerin dijital dönüşüm süreçlerini kolaylaştırmak için yapay zeka ve veri analitiğini bir araya getiriyor. Operasyonel verimliliği artıran çözümlerimizle, iş dünyasında fark yaratıyoruz.
            </h4>
    
            <h4
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".5"
              data-animation="linesUp"
            >
              Müşterilerimize yenilikçi ve güvenilir süreç yönetimi araçları sunarak, işlerini bir üst seviyeye taşımalarına destek oluyoruz.
            </h4>
          </div>
        </div>
    
        <div class="c-col-3"></div>
    
        <div class="c-col-9">
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay="0"
              data-animation="linesUp"
              style="color: hsla(0, 0%, 100%, 0.4)"
            >
              Yapay Zeka Çözümleri
              <br />Veri Analitiği <br />Süreç Otomasyonu <br />Kullanıcı Deneyimi
              <br />Kurumsal Çözümler <br />Dijital Dönüşüm
            </h5>
          </div>
    
          <div class="a-button style_1 dark">
            <a href="/our-services">Hizmetlerimiz</a>
            <i class="icofont-arrow-right"></i>
          </div>
        </div>
      </div>
    
      <div class="wrapper-full">
        <div class="c-col-12">
          <div class="scrollable-text">
            <h1 class="big-title" style="color: #fff">
              Gurur ve motivasyon kaynaklarımız.
            </h1>
          </div>
        </div>
      </div>
    
      <div class="wrapper-small">
        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Ödüllerimiz
            </h5>
          </div>
        </div>
    
        <div class="c-col-9">
          <div data-anim="true" class="alioth-awards dark">
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">Yılın En İyi Çözümü</div>
                  <div class="award-loc">Business Awards</div>
                </div>
                <div class="award-date">2023</div>
              </a>
            </div>
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">İnovasyon Liderliği</div>
                  <div class="award-loc">TechAwards</div>
                </div>
                <div class="award-date">2022</div>
              </a>
            </div>
          </div>
        </div>
    
        <span class="a-empty-space" style="height: 100px"></span>
      </div>
    
      <div class="wrapper-full">
        <div
          data-parallax-strength="0.2"
          data-parallax-direction="down"
          class="c-col-4 has-parallax"
        >
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Finzeta Görsel"
              src="img/about-us-light-1.jpg"
            />
          </div>
        </div>
    
        <div
          data-parallax-strength="0.05"
          data-parallax-direction="up"
          class="c-col-4 has-parallax"
        >
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Finzeta Görsel"
              src="img/about-us-light-2.jpg"
            />
          </div>
        </div>
    
        <div
          data-parallax-strength="0.15"
          data-parallax-direction="down"
          class="c-col-4 has-parallax"
        >
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Finzeta Görsel"
              src="img/about-us-light-3.jpg"
            />
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="wrapper-small">
        <span class="a-empty-space hide_mobile" style="height: 100px"></span>
        <div class="c-col-12">
          <div class="text-wrapper">
            <h1
              class="big-title has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsUp"
            >
              Ekibimiz
            </h1>
          </div>
        </div>
        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Biz Kimiz?
            </h5>
          </div>
        </div>
        <div class="c-col-9">
          <div class="text-wrapper">
            <h4
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Finzeta, yenilikçi fikirlerle süreçleri optimize eden, yapay zeka ve
              veri odaklı çözümler üreten bir ekipten oluşmaktadır. Her bir takım
              üyesi uzmanlık alanında güçlü bir yetkinliğe sahiptir ve projelerimiz
              için değer yaratmaktadır.
            </h4>
          </div>
        </div>
      </div>
    
      
      <div class="wrapper-full no-gap">
        <div class="c-col-3 no-gap no-margin">
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_1.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Humera Landry</div>
              <div class="member-title">CEO</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">LinkedIn</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
          </div>
    
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_2.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Darnell Irving</div>
              <div class="member-title">CTO</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">LinkedIn</a></li>
                <li><a href="#.">GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div
          class="c-col-3 no-gap no-margin has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="up"
        >
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_3.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Erika Moses</div>
              <div class="member-title">Tasarım Direktörü</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>
    
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_4.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Kirsty Ball</div>
              <div class="member-title">UI/UX Tasarımcısı</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Dribbble</a></li>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="c-col-3 no-gap no-margin">
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_5.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Keeley Wise</div>
              <div class="member-title">Back-End Developer</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">GitHub</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
          </div>
    
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_6.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Willa Porter</div>
              <div class="member-title">Grafik Tasarımcı</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="c-col-3 no-gap no-margin has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="up"
        >
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_3.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Erika Moses</div>
              <div class="member-title">Tasarım Direktörü</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>
    
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_4.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Kirsty Ball</div>
              <div class="member-title">UI/UX Tasarımcısı</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Dribbble</a></li>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="wrapper-small">
        <div class="c-col-12">
          <span class="a-empty-space" style="height: 50px"></span>
          <div class="text-wrapper">
            <h2
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Güvenilir iş ortaklarımızla projelerimizi başarıyla hayata geçiriyoruz.
            </h2>
          </div>
        </div>
      </div>
    
      <div class="wrapper">
        <div class="c-col-12">
          <div data-anim="true" class="alioth-clients column-4">
            <div class="a-client">
              <a href="#."><img alt="Client Logo" src="img/client_01-dark.png" /></a>
            </div>
            <div class="a-client">
              <a href="#."><img alt="Client Logo" src="img/client_02-dark.png" /></a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="wrapper-small">
        <div class="c-col-12">
          <div class="a-testimonials autoplay">
            <div class="a-testimonials-wrapper">
              <div class="a-testimonial">
                <div class="testimonial-text">
                  “Finzeta sayesinde süreçlerimizi optimize ettik ve operasyonel
                  verimliliğimizi artırdık.”
                </div>
                <div class="testimonial-meta">
                  <div class="testimonial-name">Sofia Potts - CEO</div>
                  <div class="testimonial-brand">Radamel</div>
                </div>
              </div>
              <div class="a-testimonial">
                <div class="testimonial-text">
                  “Yapay zeka çözümleriyle işimizi ileriye taşıyan güçlü bir ortak
                  kazandık.”
                </div>
                <div class="testimonial-meta">
                  <div class="testimonial-name">Aiden Adams - CTO</div>
                  <div class="testimonial-brand">Zeina</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="wrapper-full no-margin">
        <div class="c-col-12 no-gap no-margin">
          <div class="alioth-page-nav" style="background-color: #f1f1f1">
            <a href="/works">
              <div class="page-title">Projelerimiz</div>
              <div class="page-sub-title">Bugüne kadar neler yaptığımızı keşfedin.</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
