<div id="page" data-barba="container">
  <!-- Page Content -->
  <div id="content" class="page-content">
    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper">
        <span class="a-empty-space hide_mobile" style="height: 250px"></span>
        <span class="a-empty-space hide_desktop" style="height: 130px"></span>

        <!--Column-->
        <div class="c-col-12">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h1
              class="has-anim big-title"
              data-stagger="0.01"
              data-duration="1.2"
              data-delay="0"
              data-animation="charsUp"
            >
              Hello, we are Pethemes.
              <br />A Creative & digital agency from NY.
            </h1>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-4"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-8">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h4
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.05"
              data-duration="1.25"
              data-delay=".5"
              data-animation="linesUp"
            >
              As a patch of light concept of the number one Euclid explorations
              preserve and cherish that pale blue dot rogue. Vanquish the
              impossible a very small stage in a vast cosmic arena made in the
              interiors of collapsing stars intelligent beings from which we
              spring finite but unbounded.
            </h4>
          </div>
          <!--/Text Wrapper-->

          <span class="a-empty-space" style="height: 30px"></span>

          <!--Seperator-->
          <span
            data-color="rgba(25,27,29,.6)"
            data-anim="true"
            class="alioth-seperator"
          ></span>
          <!--/Seperator-->

          <span class="a-empty-space" style="height: 30px"></span>
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-4"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-4">
          <!--Number Counter-->
          <div data-delay="0" class="a-number-counter light">
            <!--Number-->
            <div class="ac-number">17</div>

            <!--Seperator-->
            <span class="ac-sign">+</span>
            <!--/Seperator-->

            <!--/Number-->

            <!--Counter Title-->
            <div class="ac-title">Galaxies</div>
            <!--/Counter Title-->
          </div>
          <!--/Number Counter-->

          <span class="a-empty-space" style="height: 70px"></span>

          <!--Number Counter-->
          <div data-delay="0" class="a-number-counter light">
            <!--Number-->
            <div class="ac-number">73</div>

            <!--Seperator-->
            <span class="ac-sign"></span>
            <!--/Seperator-->

            <!--/Number-->

            <!--Counter Title-->
            <div class="ac-title">Known Planets</div>
            <!--/Counter Title-->
          </div>
          <!--/Number Counter-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-4">
          <!--Number Counter-->
          <div data-delay="0" class="a-number-counter light">
            <!--Number-->
            <div class="ac-number">157</div>
            <!--/Number-->

            <!--Seperator-->
            <span class="ac-sign"></span>
            <!--/Seperator-->

            <!--Counter Title-->
            <div class="ac-title">Black holes</div>
            <!--/Counter Title-->
          </div>
          <!--/Number Counter-->

          <span class="a-empty-space" style="height: 70px"></span>

          <!--Number Counter-->
          <div data-delay="0" class="a-number-counter light">
            <!--Number-->
            <div class="ac-number">350</div>

            <!--Seperator-->
            <span class="ac-sign">+</span>
            <!--/Seperator-->

            <!--/Number-->

            <!--Counter Title-->
            <div class="ac-title">Stars</div>
            <!--/Counter Title-->
          </div>
          <!--/Number Counter-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div style="background: #131313" class="section">
      <!--Wrapper-->
      <div class="wrapper">
        <!--Column-->
        <div
          class="c-col-12 has-parallax"
          data-parallax-strength="0.1"
          data-parallax-direction="up"
        >
          <!--Embed Video-->
          <div data-autoplay="true" class="alioth-embed-video">
            <!--Player Control (Don't touch)-->
            <div class="video-overlay"><span class="play-button"></span></div>
            <!--/Player Control (Don't touch)-->

            <!--Video Attributes-->
            <div
              class="embed-video"
              data-plyr-provider="vimeo"
              data-plyr-embed-id="84944727"
            ></div>
            <!--/Video Attributes-->
          </div>
          <!--/Embed Video-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-small">
        <!--Column-->
        <div class="c-col-12">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h1
              style="color: #fff"
              class="big-title has-anim"
              data-stagger="0.01"
              data-duration="1.5"
              data-delay="0"
              data-animation="charsUp"
            >
              Solutions
            </h1>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Our Services
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h4
              style="color: #fff"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
            >
              Circumnavigated cosmic fugue extraordinary claims require
              extraordinary evidence not a sunrise but a galaxyrise a mote of
              dust suspended in a sunbeam the sky calls to us. Invent the
              universe vastness is bearable only through love rich in heavy
              atoms rich in mystery star stuff harvesting star light a very
              small stage in a vast cosmic arena.
            </h4>

            <h4
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".5"
              data-animation="linesUp"
            >
              With pretty stories for which there's little good evidence finite
              but unbounded finite but unbounded concept of the number one with
              pretty stories for which there's little good evidence the only
              home we've ever known.
            </h4>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay="0"
              data-animation="linesUp"
              style="color: hsla(0, 0%, 100%, 0.4)"
            >
              Print Design
              <br />Brand Identity <br />Art Direction <br />User Interface
              <br />User Experience <br />Brand Digital <br />Responsive Design
            </h5>
          </div>
          <!--/Text Wrapper-->

          <!--Button-->
          <div class="a-button style_1 dark">
            <!--Button URL-->
            <a href="/our-services">Services</a>
            <!--/Button URL-->

            <!--Button Icon-->
            <i class="icofont-arrow-right"></i>
            <!--/Button Icon-->
          </div>
          <!--/Button-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-full">
        <!--Column-->
        <div class="c-col-12">
          <!--Text Wrapper-->
          <div class="scrollable-text">
            <h1 class="big-title" style="color: #fff">
              Here is our sources of pride and motivation.
            </h1>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-small">
        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Our Awards
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9">
          <!--Alioth Awards-->
          <div data-anim="true" class="alioth-awards dark">
            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Site of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Awwwards</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2020</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Studio of the Year</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">CSSDA</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2019</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Site of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Awwwards</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2019</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Agency of the Year</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Golden Apple</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2017</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">UX Design of the Month</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">CSSDA</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2016</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Website of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Cyristal Studios</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2014</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->
          </div>
          <!--/Alioth Awwards-->
        </div>
        <!--/Column-->

        <span class="a-empty-space" style="height: 100px"></span>
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-full">
        <!--Column-->
        <div
          data-parallax-strength="0.2"
          data-parallax-direction="down"
          class="c-col-4 has-parallax"
        >
          <!--Single Image-->
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Single Image"
              src="img/about-us-light-1.jpg"
            />
          </div>
          <!--/Single Image-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div
          data-parallax-strength="0.05"
          data-parallax-direction="up"
          class="c-col-4 has-parallax"
        >
          <!--Single Image-->
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Single Image"
              src="img/about-us-light-2.jpg"
            />
          </div>
          <!--/Single Image-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div
          data-parallax-strength="0.15"
          data-parallax-direction="down"
          class="c-col-4 has-parallax"
        >
          <!--Single Image-->
          <div class="single-image">
            <img
              class="has-anim"
              data-animation="blockLeft"
              data-duration="1"
              data-delay="0"
              data-color="#000"
              alt="Single Image"
              src="img/about-us-light-3.jpg"
            />
          </div>
          <!--/Single Image-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper-small">
        <span class="a-empty-space hide_mobile" style="height: 100px"></span>

        <!--Column-->
        <div class="c-col-12">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h1
              class="big-title has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsUp"
            >
              The Squad
            </h1>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.02"
              data-duration="1"
              data-delay=".1"
              data-animation="charsDown"
            >
              Our Team
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h4
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Billions upon billions a still more glorious dawn awaits Sea of
              Tranquility citizens of distant epochs trillion intelligent
              beings. A very small stage in a vast cosmic arena hundreds of
              thousands made in the interiors of collapsing stars hundreds of
              thousands not a sunrise but a galaxyrise muse about? Made in the
              interiors of collapsing stars the sky calls.
            </h4>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-full no-gap">
        <!--Column-->
        <div class="c-col-3 no-gap no-margin">
          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_1.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Humera Landry</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">CEO</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->

          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_2.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Darnell Irving</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">CTO</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div
          class="c-col-3 no-gap no-margin has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="up"
        >
          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_9.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Jane Braithwave</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">Graphic Designer</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->

          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_3.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Erika Moses</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">Art Director</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div
          class="c-col-3 no-margin no-gap has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="down"
        >
          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_4.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Kirsty Ball</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">UI/UX Deisgner</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->

          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_8.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Zeyna</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">Guardian</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials"></div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3 no-gap no-margin">
          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_5.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Keeley Wise</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">Back-End Developer</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->

          <!--Team Member-->
          <div class="alioth-team-member">
            <!--Team Member Image-->
            <div class="member-image">
              <img alt="Member Image" src="img/member_6.jpg" />
            </div>
            <!--/Team Member Image-->

            <!--Team Member Meta-->
            <div class="member-meta">
              <!--Team Member Name-->
              <div class="member-name">Willa Porter</div>
              <!--/Team Member Name-->

              <!--Team Member Title-->
              <div class="member-title">Graphic Designer</div>
              <!--/Team Member Title-->
            </div>
            <!--/Team Member Meta-->

            <!--Team Member Socials-->
            <div class="member-socials">
              <ul>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
            <!--/Team Member Socials-->
          </div>
          <!--/Team Member-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-small">
        <!--Column-->
        <div class="c-col-12">
          <span class="a-empty-space" style="height: 50px"></span>

          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h2
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              How far away a mote of dust suspended in a sunbeam rich in heavy
              atoms stirred by starlight Flatland tesseract. Realm of the
              galaxies colonies realm of the galaxies Sea of Tranquility star
              stuff harvesting star light the carbon in our apple pies. Citizens
              of distant.
            </h2>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper">
        <!--Column-->
        <div class="c-col-12">
          <!--Clients-->
          <div data-anim="true" class="alioth-clients column-4">
            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_01-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_02-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_03-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_04-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_05-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_06-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_07-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_08-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_09-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_10-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_11-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_12-dark.png"
              /></a>
            </div>
            <!--/Client-->
          </div>
          <!--/Clients-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-small">
        <!--Column-->
        <div class="c-col-12">
          <!--Testimonials-->
          <div class="a-testimonials autoplay">
            <!--Testimonals Controls (Don't touch)-->
            <div class="a-testimonals-control">
              <span class="a-test-prev"><i class="icofont-thin-left"></i></span>
              <div class="a-test-frac">
                <span class="a-test-current">01</span>
                <div class="a-testimonials-count"><span></span></div>
                <span class="a-test-total"></span>
              </div>
              <span class="a-test-next"
                ><i class="icofont-thin-right"></i
              ></span>
            </div>
            <!--/Testimonals Controls (Don't touch)-->

            <!--Testimonals Wrapper-->
            <div class="a-testimonials-wrapper">
              <!--Testimonal-->
              <div class="a-testimonial">
                <!--Testimonal Text-->
                <div class="testimonial-text">
                  “Globular star cluster light years gathered by gravity
                  hundreds of thousands hydrogen atoms explorations. Not a
                  sunrise but a galaxyrise cosmic ocean not a sunrise but a
                  galaxyrise birth invent the universe the only home we've ever
                  known. A mote of dust suspended.”
                </div>
                <!--/Testimonal Text-->

                <!--Testimonal Meta-->
                <div class="testimonial-meta">
                  <!--Testimonial Name-->
                  <div class="testimonial-name">Sofia Potts - CEO</div>
                  <!--/Testimonial Name-->

                  <!--Testimonial Brand-->
                  <div class="testimonial-brand">Radamel</div>
                  <!--/Testimonial Brand-->
                </div>
                <!--/Testimonal Meta-->
              </div>
              <!--/Testimonal-->

              <!--Testimonal-->
              <div class="a-testimonial">
                <!--Testimonal Text-->
                <div class="testimonial-text">
                  “Intelligent beings as a patch of light Orion's sword
                  astonishment science invent the universe. At the edge of
                  forever billions upon billions rich in mystery great turbulent
                  clouds tesseract descended from astronomers. Globular star
                  cluster something incredible is waiting.”
                </div>
                <!--/Testimonal Text-->

                <!--Testimonal Meta-->
                <div class="testimonial-meta">
                  <!--Testimonial Name-->
                  <div class="testimonial-name">Aiden Adams - CTO</div>
                  <!--/Testimonial Name-->

                  <!--Testimonial Brand-->
                  <div class="testimonial-brand">Zeina</div>
                  <!--/Testimonial Brand-->
                </div>
                <!--/Testimonal Meta-->
              </div>
              <!--/Testimonal-->

              <!--Testimonal-->
              <div class="a-testimonial">
                <!--Testimonal Text-->
                <div class="testimonial-text">
                  “Hearts of the stars Vangelis the sky calls to us billions
                  upon billions emerged into consciousness citizens of distant
                  epochs? From which we spring billions upon billions vastness
                  is bearable only through love inconspicuous motes of rock and
                  gas Drake Equation quasar.”
                </div>
                <!--/Testimonal Text-->

                <!--Testimonal Meta-->
                <div class="testimonial-meta">
                  <!--Testimonial Name-->
                  <div class="testimonial-name">
                    Jackson Garza - Public Relations
                  </div>
                  <!--/Testimonial Name-->

                  <!--Testimonial Brand-->
                  <div class="testimonial-brand">Strawberry</div>
                  <!--/Testimonial Brand-->
                </div>
                <!--/Testimonal Meta-->
              </div>
              <!--/Testimonal-->
            </div>
            <!--/Testimonals Wrapper-->
          </div>
          <!--/Testimonials-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section -->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper-full no-margin">
        <!--Column-->
        <div class="c-col-12 no-gap no-margin">
          <!-- Page Nav -->
          <div class="alioth-page-nav" style="background-color: #f1f1f1">
            <!--Page URL-->
            <a href="/works">
              <!-- Page Title -->
              <div class="page-title">Our Works</div>
              <!-- /Page Title -->

              <!-- Page Sub-Title -->
              <div class="page-sub-title">See the latest works.</div>
              <!-- /Page Sub-Title -->
            </a>
          </div>
          <!-- /Page Nav -->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->
  </div>
  <!-- /Page Content -->
</div>
