<div id="page" data-barba="container">

    <div class="page-header">
        <div class="page-header-wrap wrapper-small">
            <div class="page-title">
                <h1 class="big-title">Son İş Ortaklarımız</h1>
            </div>
        </div>
    </div>

    <div id="content" class="page-content">

        <div class="section">
            <div class="wrapper">
                <div class="c-col-12">
                    <div class="alioth-clients column-4">
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_01-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_02-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_03-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_04-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_05-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_06-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_07-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_08-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_09-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_10-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_11-dark.png"></a></div>
                        <div class="a-client"><a href="#"><img alt="Client Logo" src="img/client_12-dark.png"></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section no-margin">
            <div class="wrapper-small">
                <div class="c-col-12">
                    <div class="a-testimonials autoplay dark">
                        <div class="a-testimonals-control">
                            <span class="a-test-prev"><i class="icofont-thin-left"></i></span>
                            <div class="a-test-frac">
                                <span class="a-test-current">01</span>
                                <div class="a-testimonials-count"><span></span></div>
                                <span class="a-test-total"></span>
                            </div>
                            <span class="a-test-next"><i class="icofont-thin-right"></i></span>
                        </div>
                        <div class="a-testimonials-wrapper">
                            <div class="a-testimonial">
                                <div class="testimonial-text">“Uzman ekibimizle birlikte güvenilir çözümler sağlıyoruz. Müşteri memnuniyetine dayalı yaklaşımımız, süreçlerinizi optimize etmenize yardımcı olur.”</div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-name">Sofia Potts - CEO</div>
                                    <div class="testimonial-brand">Radamel</div>
                                </div>
                            </div>
                            <div class="a-testimonial">
                                <div class="testimonial-text">“Finzeta sayesinde süreçlerimizi hızlandırdık ve operasyonel verimliliğimizi artırdık. Çözüm odaklı yaklaşımları ile her zaman destek sağlıyorlar.”</div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-name">Aiden Adams - CTO</div>
                                    <div class="testimonial-brand">Zeina</div>
                                </div>
                            </div>
                            <div class="a-testimonial">
                                <div class="testimonial-text">“Dijital dönüşüm yolculuğumuzda Finzeta'nın desteğiyle önemli adımlar attık. Teknolojiye olan uzmanlıkları harika.”</div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-name">Jackson Garza - Public Relations</div>
                                    <div class="testimonial-brand">Strawberry</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="wrapper-full no-margin">
                <div class="c-col-12 no-gap no-margin">
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">
                        <a href="/about">
                            <div class="page-title">Hakkımızda</div>
                            <div class="page-sub-title">Daha fazla bilgi edinin.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
