<div id="page" data-barba="container">
  <div
    class="page-header"
    style="background-color: #f8f8f8; padding: 50px 0; text-align: center"
  >
    <div class="page-header-wrap wrapper-small">
      <div class="page-title">
        <h1
          class="big-title"
          style="font-size: 2.5rem; font-weight: bold; color: #333; margin: 0"
        >
          Ekibimiz
        </h1>
      </div>
    </div>
  </div>

  <div id="content" class="page-content">
    <div class="section no-margin">
      <div class="wrapper">
        <div class="c-col-4"></div>

        <div class="c-col-8">
          <div class="text-wrapper">
            <h3
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
            >
              Ekibimiz, müşteri odaklı çözümler üretmek için yenilikçi ve iş
              birliğine dayalı bir çalışma kültürüyle bir araya gelmiştir.
              Uzmanlık alanlarımız arasında yazılım geliştirme, kullanıcı
              deneyimi tasarımı ve dijital strateji bulunmaktadır.
            </h3>
          </div>
        </div>
      </div>

      <div class="wrapper-full no-gap">
        <div class="c-col-4 no-gap no-margin">
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_1.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Humera Landry</div>
              <div class="member-title">CEO</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>

          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_2.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Darnell Irving</div>
              <div class="member-title">CTO</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
          </div>

          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_9.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Jane Braithwave</div>

              <div class="member-title">Graphic Designer</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="c-col-4 no-gap no-margin has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="up"
        >
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_3.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Erika Moses</div>
              <div class="member-title">Art Director</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
          </div>

          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_4.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Kirsty Ball</div>
              <div class="member-title">UI/UX Deisgner</div>
            </div>
            <div class="member-socials">
              <ul>
                <li><a href="#.">Twitter</a></li>
                <li><a href="#.">Instagram</a></li>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_8.jpg" />
            </div>
            <div class="member-meta">
              <div class="member-name">Zeyna</div>
              <div class="member-title">Guardian</div>
            </div>

            <div class="member-socials"></div>
          </div>
        </div>

        <div
          class="c-col-4 no-gap has-parallax"
          data-parallax-strength="0.05"
          data-parallax-direction="down"
        >
          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_5.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Keeley Wise</div>

              <div class="member-title">Back-End Developer</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Twitter</a></li>
              </ul>
            </div>
          </div>

          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_6.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Willa Porter</div>

              <div class="member-title">Graphic Designer</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Instagram</a></li>
              </ul>
            </div>
          </div>

          <div class="alioth-team-member">
            <div class="member-image">
              <img alt="Member Image" src="img/member_7.jpg" />
            </div>

            <div class="member-meta">
              <div class="member-name">Ffion Firth</div>

              <div class="member-title">Back-End Developer</div>
            </div>

            <div class="member-socials">
              <ul>
                <li><a href="#.">Facebook</a></li>
                <li><a href="#.">Instagram</a></li>
                <li><a href="#.">Behance</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-small">
        <span class="a-empty-space hide_mobile" style="height: 75px"></span>

        <div class="c-col-12">
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              İş birliğine dayalı yaklaşımlarımız sayesinde, müşterilerimizin
              hedeflerine ulaşmalarını sağlıyor ve sektör lideri çözümler
              sunuyoruz.
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="wrapper-full no-margin">
        <div class="c-col-12 no-gap no-margin">
          <div class="alioth-page-nav" style="background-color: #f1f1f1">
            <a href="mailto:cv@pethemes.com">
              <div class="page-title">{{ "cv@finzeta.com" }}</div>

              <div class="page-sub-title">
                Takımın bir parçası olmak ister misin?
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
