<div id="page" data-barba="container">
    <div data-anim="true" class="page-header">
        <div class="page-header-wrap wrapper-small">
            <div class="page-title">
                <h1 class="big-title">Bize Ulaşın!</h1>
            </div>
        </div>
    </div>
    <div id="content" class="page-content">
        <div class="section">
            <div class="wrapper">
                <div class="c-col-6">
                    <div class="text-wrapper">
                        <h3 class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Merhaba. Projenizi bizimle paylaşın.
                            <br> Aşağıdaki formu doldurun;
                        </h3>
                    </div>
                    <div class="alioth-form">
                        <form action="/" method="post">
                            <div class="field-wrap">
                                <label>Firma Adı</label>
                                <input type="text" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>Adınız</label>
                                <input type="text" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>Telefon Numarası</label>
                                <input type="tel" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>E-posta</label>
                                <input type="email" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>Konu</label>
                                <input type="text" required autocomplete="off" />
                            </div>
                            <div class="message-wrap">
                                <label>Mesajınız</label>
                                <textarea rows="8"></textarea>
                            </div>
                            <div class="send-wrap">
                                <button type="submit" class="button button-block">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="c-col-6">
                    <div class="single-image">
                        <img class="has-anim" data-animation="slideUp" data-duration="2" data-delay="0" alt="Bize Ulaşın" src="img/contact-img.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div style="background: #ebebeb; padding-top: 100px; padding-bottom: 30px;" class="section no-margin">
            <div class="wrapper-small">
                <div class="c-col-4">
                    <div class="text-wrapper">
                        <h2 style="margin-bottom: 0;">Bizi Arayın</h2>
                        <p style="color: #191b1d;">Bir sonraki projenizi konuşalım.</p>
                        <span style="height: 50px" class="a-empty-space"></span>
                        <a class="inner-button dark" href="tel:+90 555 55 55">+90 555 55 55</a>
                    </div>
                </div>
                <div class="c-col-4">
                    <div class="text-wrapper">
                        <h2 style="margin-bottom: 0;">Bize Yazın</h2>
                        <p style="color: #191b1d;">Bir sonraki projenizi paylaşın.</p>
                        <span style="height: 50px" class="a-empty-space"></span>
                        <a class="inner-button dark" href="mailto:hello@finzeta.com">{{"hello@finzeta.com"}}</a>
                    </div>
                </div>
                <div class="c-col-4">
                    <div class="text-wrapper">
                        <h2 style="margin-bottom: 0;">Ofisimiz</h2>
                        <p style="color: #191b1d;">Bizi ziyaret edin ve tanışalım.</p>
                        <span style="height: 50px" class="a-empty-space"></span>
                        <a class="inner-button dark" href="/contact">Haritada Gör</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="wrapper-full no-margin">
                <div class="c-col-12 no-gap no-margin">
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">
                        <a href="/about">
                            <div class="page-title">Hakkımızda</div>
                            <div class="page-sub-title">Finzeta hakkında daha fazla bilgi edinin.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
