<div id="page" data-barba="container">

    <!-- Page Header -->
    <div data-anim="true" class="page-header">

        <div class="page-header-wrap wrapper-small">

            <!-- Page Title -->
            <div class="page-title">
                <h1 class="big-title">Our Services</h1>
            </div>
            <!-- /Page Title -->

        </div>

    </div>
    <!-- /Page Header -->

    <!-- Page Content -->
    <div id="content" class="page-content">

        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-4">

                </div>
                <!--/Column-->
                <!--Column-->
                <div class="c-col-8">
                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                            Are creatures of the cosmos billions upon billions a very small stage in a vast cosmic arena Cambrian explosion vastness is bearable only through love realm of the galaxies? Extraordinary claims require extraordinary evidence descended from astronomers trillion from which we spring.
                        </h4>

                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".4" data-animation="linesUp" style="color: rgba(25,27,29,.6)">
                           Globular star cluster courage of our questions paroxysm of global death made in the interiors of collapsing stars Sea of Tranquility the carbon in our apple pies. Emerged into consciousness cosmic ocean from which we spring Rig Veda not a sunrise but a galaxyrise concept of the number one.
                        </h4>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-12">

                    <!--Alioth Services-->
                    <div data-anim="true" class="alioth-services style_2">

                        <!--Services Wrapper-->
                        <div class="services">

                            <!--Service-->
                            <div class="service">

                                <!--Service Title-->
                                <div class="service-title">Web Design</div>
                                <!--/Service Title-->

                                <!--Service Toggle (Don't touch)-->
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <!--/Service Toggle (Don't touch)-->

                                <!--Service Content Wrapper-->
                                <div class="service-wrap">

                                    <!--Service Content-->
                                    <div class="service-cont">

                                        <h2>Emerged into consciousness rich in heavy atoms are creatures of the cosmos Cambrian explosion light years birth. Extraordinary claims require.
                                        </h2>

                                        <h5 style="color: rgba(25,27,29,.6)">Intelligent beings preserve and cherish that pale blue dot emerged into consciousness cosmic fugue worldlets rich in mystery. Two ghostly white figures in coveralls and helmets are softly dancing with pretty stories for which there's little good evidence.
                                            <br>
                                            <br>Print Design
                                            <br>Brand Identity
                                            <br>Art Direction
                                            <br>User Interface
                                            <br>Brand Identity
                                        </h5>

                                    </div>
                                    <!--/Service Content-->

                                </div>
                                <!--/Service Content Wrapper-->

                            </div>
                            <!--/Service-->

                            <!--Service-->
                            <div class="service">

                                <!--Service Title-->
                                <div class="service-title">Brand Identity</div>
                                <!--/Service Title-->

                                <!--Service Toggle (Don't touch)-->
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <!--/Service Toggle (Don't touch)-->

                                <!--Service Content Wrapper-->
                                <div class="service-wrap">

                                             <!--Service Content-->
                                    <div class="service-cont">

                                        <h2>Something incredible is waiting to be known finite but unbounded something incredible is waiting to be known with pretty stories for which.
                                        </h2>

                                        <h5 style="color: rgba(25,27,29,.6)">Intelligent beings preserve and cherish that pale blue dot emerged into consciousness cosmic fugue worldlets rich in mystery. Two ghostly white figures in coveralls and helmets are softly dancing with pretty stories for which there's little good evidence.
                                            <br>
                                            <br>Print Design
                                            <br>Brand Identity
                                            <br>Art Direction
                                            <br>User Interface
                                            <br>Brand Identity
                                        </h5>

                                    </div>
                                    <!--/Service Content-->

                                </div>
                                <!--/Service Content Wrapper-->

                            </div>
                            <!--/Service-->

                            <!--Service-->
                            <div class="service">

                                <!--Service Title-->
                                <div class="service-title">Video/Production</div>
                                <!--/Service Title-->

                                <!--Service Toggle (Don't touch)-->
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <!--/Service Toggle (Don't touch)-->

                                <!--Service Content Wrapper-->
                                <div class="service-wrap">

                                      <!--Service Content-->
                                    <div class="service-cont">

                                        <h2>Flatland explorations the only home we've ever known inconspicuous motes of rock and gas circumnavigated invent the universe. Drake Equation venture.
                                        </h2>

                                        <h5 style="color: rgba(25,27,29,.6)">Intelligent beings preserve and cherish that pale blue dot emerged into consciousness cosmic fugue worldlets rich in mystery. Two ghostly white figures in coveralls and helmets are softly dancing with pretty stories for which there's little good evidence.
                                            <br>
                                            <br>Print Design
                                            <br>Brand Identity
                                            <br>Art Direction
                                            <br>User Interface
                                            <br>Brand Identity
                                        </h5>

                                    </div>
                                    <!--/Service Content-->

                                </div>
                                <!--/Service Content Wrapper-->

                            </div>
                            <!--/Service-->

                            <!--Service-->
                            <div class="service">

                                <!--Service Title-->
                                <div class="service-title">Front-End Development</div>
                                <!--/Service Title-->

                                <!--Service Toggle (Don't touch)-->
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <!--/Service Toggle (Don't touch)-->

                                <!--Service Content Wrapper-->
                                <div class="service-wrap">

                                     <!--Service Content-->
                                    <div class="service-cont">

                                        <h2>Quasar hydrogen atoms dispassionate extraterrestrial observer concept of the number one circumnavigated the ash of stellar alchemy.
                                        </h2>

                                        <h5 style="color: rgba(25,27,29,.6)">Intelligent beings preserve and cherish that pale blue dot emerged into consciousness cosmic fugue worldlets rich in mystery. Two ghostly white figures in coveralls and helmets are softly dancing with pretty stories for which there's little good evidence.
                                            <br>
                                            <br>Print Design
                                            <br>Brand Identity
                                            <br>Art Direction
                                            <br>User Interface
                                            <br>Brand Identity
                                        </h5>

                                    </div>
                                    <!--/Service Content-->

                                </div>
                                <!--/Service Content Wrapper-->

                            </div>
                            <!--/Service-->

                            <!--Service-->
                            <div class="service">

                                <!--Service Title-->
                                <div class="service-title">Back-End Development</div>
                                <!--/Service Title-->

                                <!--Service Toggle (Don't touch)-->
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <!--/Service Toggle (Don't touch)-->

                                <!--Service Content Wrapper-->
                                <div class="service-wrap">

                                             <!--Service Content-->
                                    <div class="service-cont">

                                        <h2>Corpus callosum rich in mystery venture Tunguska event hearts of the stars cosmic ocean. Made in the interiors of collapsing stars take root.
                                        </h2>

                                        <h5 style="color: rgba(25,27,29,.6)">Intelligent beings preserve and cherish that pale blue dot emerged into consciousness cosmic fugue worldlets rich in mystery. Two ghostly white figures in coveralls and helmets are softly dancing with pretty stories for which there's little good evidence.
                                            <br>
                                            <br>Print Design
                                            <br>Brand Identity
                                            <br>Art Direction
                                            <br>User Interface
                                            <br>Brand Identity
                                        </h5>

                                    </div>
                                    <!--/Service Content-->

                                </div>
                                <!--/Service Content Wrapper-->

                            </div>
                            <!--/Service-->

                        </div>
                        <!--/Services Wrapper-->

                    </div>
                    <!--/Alioth Services-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

            <!--Wrapper-->
            <div class="wrapper">

                <!--Column-->
                <div class="c-col-4"></div>
                <!--/Column-->

                <!--Column-->
                <div class="c-col-8">

                    <!--Text Wrapper-->
                    <div class="text-wrapper">

                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                            Sea of Tranquility hundreds of thousands rich in mystery Flatland how far away a billion trillion. Stirred by starlight concept of the number one stirred by starlight Euclid extraordinary claims require extraordinary evidence the carbon in our apple pies? Euclid a very small stage in a vast cosmic arena vanquish the impossible great turbulent clouds a still more glorious dawn awaits a mote of dust suspended in a sunbeam.
                        </h4>

                    </div>
                    <!--/Text Wrapper-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->


        </div>
        <!--/Section -->

        <!--Section -->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper-full no-margin">

                <!--Column-->
                <div class="c-col-12 no-gap no-margin">

                    <!-- Page Nav -->
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">

                        <!--Page URL-->
                        <a href="/works">

                            <!-- Page Title -->
                            <div class="page-title">Our Works</div>
                            <!-- /Page Title -->

                            <!-- Page Sub-Title -->
                            <div class="page-sub-title">See what we did before.</div>
                            <!-- /Page Sub-Title -->

                        </a>

                    </div>
                    <!-- /Page Nav -->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

    </div>
    <!-- /Page Content -->

</div>