<div id="page" data-barba="container">

    <div class="page-header">
        <div class="page-header-wrap wrapper-small">
            <div class="page-title">
                <h1 class="big-title">Hizmetlerimiz</h1>
            </div>
        </div>
    </div>

    <div id="content" class="page-content">

        <div class="section">
            <div class="wrapper">
                <div class="c-col-4"></div>
                <div class="c-col-8">
                    <div class="text-wrapper">
                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                            Finzeta olarak, teknolojiyi müşteri ihtiyaçlarına uyarlıyor, özel çözümlerle iş süreçlerinizi optimize ediyoruz.
                        </h4>
                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".4" data-animation="linesUp" style="color: rgba(25,27,29,.6)">
                            Yapay zekâ, büyük veri ve bulut teknolojileriyle, işletmenizin dijital dönüşümünü hızlandırıyoruz.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="c-col-12">
                    <div data-anim="true" class="alioth-services style_2">
                        <div class="services">

                            <div class="service">
                                <div class="service-title">Web Tasarımı</div>
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <div class="service-wrap">
                                    <div class="service-cont">
                                        <h2>
                                            Kullanıcı dostu, modern ve responsive web siteleri ile dijital varlığınızı güçlendirin.
                                        </h2>
                                        <h5 style="color: rgba(25,27,29,.6)">
                                            <br>Marka Kimliği
                                            <br>UI/UX Tasarımı
                                            <br>Mobil Uyumlu Çözümler
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="service">
                                <div class="service-title">Marka Kimliği</div>
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <div class="service-wrap">
                                    <div class="service-cont">
                                        <h2>
                                            İşletmenizin ruhunu yansıtan özgün marka kimlikleri tasarlıyoruz.
                                        </h2>
                                        <h5 style="color: rgba(25,27,29,.6)">
                                            <br>Logo Tasarımı
                                            <br>Kurumsal Kimlik
                                            <br>Reklam Stratejileri
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="service">
                                <div class="service-title">Video/Prodüksiyon</div>
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <div class="service-wrap">
                                    <div class="service-cont">
                                        <h2>
                                            Etkileyici video içerikleriyle markanızı bir üst seviyeye taşıyoruz.
                                        </h2>
                                        <h5 style="color: rgba(25,27,29,.6)">
                                            <br>Tanıtım Videoları
                                            <br>Sosyal Medya İçerikleri
                                            <br>Reklam Prodüksiyonu
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="service">
                                <div class="service-title">Front-End Geliştirme</div>
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <div class="service-wrap">
                                    <div class="service-cont">
                                        <h2>
                                            Kullanıcı deneyimini en üst seviyeye taşıyan ön yüz geliştirme hizmetleri sunuyoruz.
                                        </h2>
                                        <h5 style="color: rgba(25,27,29,.6)">
                                            <br>HTML/CSS/JS Geliştirme
                                            <br>SPA ve PWA Çözümleri
                                            <br>Responsive Tasarımlar
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="service">
                                <div class="service-title">Back-End Geliştirme</div>
                                <div class="service-toggle">
                                    <i class="icofont-thin-down"></i>
                                </div>
                                <div class="service-wrap">
                                    <div class="service-cont">
                                        <h2>
                                            Güçlü altyapılar ve veri tabanı yönetimi ile projelerinizi destekliyoruz.
                                        </h2>
                                        <h5 style="color: rgba(25,27,29,.6)">
                                            <br>API Geliştirme
                                            <br>Veritabanı Yönetimi
                                            <br>Bulut Çözümleri
                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="c-col-4"></div>
                <div class="c-col-8">
                    <div class="text-wrapper">
                        <h4 class="has-anim" data-stagger="0.1" data-duration="1" data-delay=".1" data-animation="linesUp">
                            Müşteri odaklı yaklaşımımızla, işletmeniz için en uygun çözümleri sunuyoruz.
                        </h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="wrapper-full no-margin">
                <div class="c-col-12 no-gap no-margin">
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">
                        <a href="/works">
                            <div class="page-title">Projelerimiz</div>
                            <div class="page-sub-title">Daha önce yaptıklarımızı inceleyin.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
