<div id="page" data-barba="container">
  <!-- Page Content -->
  <div id="content" class="page-content">
    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper">
        <span class="a-empty-space" style="height: 200px"></span>

        <!--Column-->
        <div class="c-col-12">
          <!--Linked Text-->
          <div class="hello-heading linked-text dark">
            <h1 style="font-size: 10vw" class="big-title">
              Hello,
              <br />we are an <br />independent <br /><a
                data-target="About Us"
                href="/about"
                >creative agency</a
              >
              <br /><a data-target="Contact Us" href="/contact"
                >in the Istanbul</a
              >
              <br />who connect <br /><a
                data-target="Our Clients"
                href="/clients"
                >brands with</a
              >
              <br /><a data-target="Services" href="/our-services"
                >their audiences</a
              >
              <br />using design, <br /><a
                data-target="Portfolio"
                href="/works"
                >technology</a
              >
              <br />and insights.
            </h1>
          </div>
          <!--/Linked Text-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper-full no-gap">
        <!--Column-->
        <div class="c-col-3"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9 no-gap">
          <!--Project Video-->
          <div
            class="showcase-video"
            data-plyr-provider="vimeo"
            data-plyr-embed-id="591025241"
          ></div>
          <!--/Project Video-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section no-margin">
      <!--Wrapper-->
      <div class="wrapper no-margin">
        <!--Column-->
        <div class="c-col-3"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-9">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h3
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Something incredible is waiting to be known hydrogen atoms
              billions upon billions birth Tunguska event Sea of Tranquility? A
              still more glorious dawn awaits invent the universe at the edge of
              forever bits of moving fluff preserve and cherish that pale blue
              dot another world.
            </h3>
          </div>
          <!--/Text Wrapper-->

          <!--Seperator-->
          <span
            data-color="rgba(25,27,29,.6)"
            data-anim="true"
            class="alioth-seperator"
          ></span>
          <!--/Seperator-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3 hide_tablet"></div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Product strategy
              <br />UX and UI design <br />Front-end development <br />Back-end
              development <br />QA <br />Support
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Strategy
              <br />Brand identity design <br />Creative web design
              <br />Graphic design and CGI <br />Content development
              <br />Creative front-end
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-3">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Back-end development
              <br />Mobile Development <br />Photograpy <br />Video Production
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <div style="float: right" class="c-col-9">
          <!-- Button -->
          <div class="a-button style_1">
            <!-- Button URL-->
            <a href="/our-services">See All Services</a>
            <!--/ Button URL-->

            <!-- Button Icon-->
            <i class="icofont-arrow-right"></i>
            <!--/ Button Icon-->
          </div>
          <!--/ Button -->
        </div>
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper no-gap">
        <!--Column-->
        <div class="c-col-12 no-gap">
          <!--Alioth Recent Works-->
          <div data-navigate="scroll" class="a-recent-works light">
            <!--Background Text-->
            <div
              style="color: rgba(25, 27, 29, 0.2)"
              class="recent-works-bg-text"
            >
              Recent Works
            </div>
            <!--Background Text-->

            <!--Navigation (Don't Touch)-->
            <div class="a-recent-works-nav">
              <div class="arw-prev">
                <i class="icofont-long-arrow-left"></i>
              </div>
              <div class="arw-next">
                <i class="icofont-long-arrow-right"></i>
              </div>
            </div>
            <!--Navigation (Don't Touch)-->

            <!--Works Wrapper-->
            <div class="recent-works-wrapper">
              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-5.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-5/project_featured_image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">Spirits of #illusion</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Production</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->

              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-6.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-6/project_featured_image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">The Secrets</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Photography</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->

              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-9.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-9/project_featured_image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">Emerald Planet</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Photography</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->

              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-3.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-3/project_featured_image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">Rainbows</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Production</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->

              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-2.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-2/project_featured_image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">The Silk’s Nothing</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Branding</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->

              <!--Project-->
              <div class="ar-work">
                <!--Project URL--><a href="project-1.html">
                  <!--Project Image-->
                  <div class="ar-work-image">
                    <img
                      alt="Project Image"
                      src="img/projects/project-1/project-featured-image.jpg"
                    />
                  </div>
                  <!--/Project Image-->

                  <!--Project Title-->
                  <div class="ar-work-title">Ricardo Almeida</div>
                  <!--/Project Title-->

                  <!--Project Category-->
                  <div class="ar-work-cat">Photography</div>
                  <!--/Project Category-->
                </a>
              </div>
              <!--/Project-->
            </div>
            <!--/Works Wrapper-->

            <!-- Button -->
            <div class="a-button style_1">
              <!-- Button URL-->
              <a href="/works">See All Projects</a>
              <!--/ Button URL-->

              <!-- Button Icon-->
              <i class="icofont-arrow-right"></i>
              <!--/ Button Icon-->
            </div>
            <!--/ Button -->
          </div>
          <!--/Alioth Recent Works-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper-small no-margin">
        <!--Column-->
        <div class="c-col-12">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h1
              class="has-anim"
              data-stagger="0.01"
              data-duration="1.5"
              data-delay=".1"
              data-animation="charsUp"
            >
              Trustful Partners.
            </h1>
          </div>
          <!--/Text Wrapper-->

          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h5
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
            >
              Brain is the seed of intelligence a still more glorious dawn
              awaits the ash of stellar alchemy two ghostly white figures in
              coveralls and helmets are softly dancing not a sunrise but a
              galaxyrise bits of moving fluff. Culture citizens of distant
              epochs the only home we've ever known with pretty stories for
              which there's little good evidence descended from astronomers take
              root and flourish.
            </h5>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper">
        <!--Column-->
        <div class="c-col-12">
          <!--Clients-->
          <div data-anim="true" class="alioth-clients column-4">
            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_01-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_02-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_03-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_04-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_05-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_06-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_10-dark.png"
              /></a>
            </div>
            <!--/Client-->

            <!--Client-->
            <div class="a-client">
              <a href="#."
                ><img alt="Client Logo" src="img/client_11-dark.png"
              /></a>
            </div>
            <!--/Client-->
          </div>
          <!--/Clients-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section-->
    <div style="background: #101010" class="section">
      <span class="a-empty-space" style="height: 75px"></span>

      <!--Wrapper-->
      <div class="wrapper-small">
        <!--Column-->
        <div class="c-col-6">
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h1
              class="has-anim big-title"
              data-stagger="0.01"
              data-duration="1"
              data-delay=".1"
              data-animation="charsUp"
              style="color: #fff"
            >
              Source
              <br />of <br />pride.
            </h1>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div
          class="c-col-6 has-parallax"
          data-parallax-strength="0.3"
          data-parallax-direction="down"
        >
          <!--Text Wrapper-->
          <div class="text-wrapper">
            <h4
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              A mote of dust suspended in a sunbeam ship of the imagination
              kindling the energy hidden in matter Cambrian explosion star stuff
              harvesting star light Tunguska event. From which we spring the
              only home we've ever known vanquish the impossible encyclopaedia
              galactica rich in heavy atoms globular star cluster.
            </h4>
          </div>
          <!--/Text Wrapper-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-12">
          <span class="a-empty-space" style="height: 50px"></span>

          <!--Alioth Awards-->
          <div data-anim="true" class="alioth-awards">
            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Site of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Awwwards</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2020</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Studio of the Year</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">CSSDA</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2019</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Site of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Awwwards</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2019</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Agency of the Year</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Golden Apple</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2017</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">UX Design of the Month</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">CSSDA</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2016</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->

            <!--Award-->
            <div class="a-award">
              <!--Award URL--><a href="#.">
                <div class="award-dets">
                  <!--Alioth Awwards-->
                  <div class="award-title">Website of the Day</div>
                  <!--/Alioth Awwards-->

                  <!--Award Concern-->
                  <div class="award-loc">Cyristal Studios</div>
                  <!--/Award Concern-->
                </div>

                <!--Award Date-->
                <div class="award-date">2014</div>
                <!--/Award Date-->
              </a>
            </div>
            <!--/Award-->
          </div>
          <!--/Alioth Awwards-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <span class="a-empty-space" style="height: 50px"></span>
    </div>
    <!--/Section -->

    <!--Section-->
    <div class="section" style="margin-top: 100px">
      <!--Wrapper-->
      <div class="wrapper-small no-margin">
        <!--Column-->
        <div class="c-col-12 hide_mobile">
          <!--Heading-->
          <div
            data-parallax="true"
            data-image="false"
            data-background-text="Blog Posts"
            class="alioth-heading"
          >
            <!--Heading Text-->
            <div class="ah-title">
              <h1
                class="has-anim big-title"
                data-stagger="0.01"
                data-duration="1"
                data-delay=".1"
                data-animation="charsUp"
              >
                Latest Stories
              </h1>
            </div>
            <!--/Heading Text-->
          </div>
          <!--Heading-->
        </div>
        <!--/Column-->

        <!--Column-->
        <div class="c-col-12 hide_desktop">
          <!--Heading-->
          <div
            data-parallax="true"
            data-background-text="Blog Posts"
            class="alioth-heading"
          >
            <!--Heading Text-->
            <div class="ah-title">
              <h1
                class="has-anim big-title"
                data-stagger="0.01"
                data-duration="1"
                data-delay=".1"
                data-animation="charsUp"
              >
                Latest Stories
              </h1>
            </div>
            <!--/Heading Text-->
          </div>
          <!--Heading-->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->

      <!--Wrapper-->
      <div class="wrapper-small">
        <div class="c-col-12">
          <!--Alioth Blog List-->
          <div class="alioth-blog blog-list">
            <!--Blog Post-->
            <div class="post alioth-post sticky">
              <!--Blog Post Image-->
              <div class="post-image">
                <img alt="Post Image" src="img/post_01.jpg" />
              </div>
              <!--/Blog Post Image-->

              <!--Blog Post URL--><a href="single-post.html">
                <!--Blog Post Date-->
                <div class="post-date">12 January, 2021</div>
                <!--/Blog Post Date-->

                <!--Blog Post Cat-->
                <div class="post-cat">NEWS</div>
                <!--/Blog Post Cat-->

                <!--Blog Post Title-->
                <div class="post-title">
                  <h2>
                    Ship of the imagination the sky calls to us culture made.
                  </h2>
                </div>
                <!--Blog Post Title-->

                <!--Blog Post Summary-->
                <h5 class="post-summary">
                  Shores of the cosmic ocean globular star cluster descended
                  from astronomers are creatures of the cosmos rich in heavy
                  atoms take root and flourish. With pretty stories for which
                  there's...
                </h5>
                <!--/Blog Post Summary-->
              </a>
            </div>
            <!--/Blog Post-->
            <!--Blog Post-->
            <div class="post alioth-post sticky">
              <!--Blog Post Image-->
              <div class="post-image">
                <img alt="Post Image" src="img/post_01.jpg" />
              </div>
              <!--/Blog Post Image-->

              <!--Blog Post URL--><a href="single-post.html">
                <!--Blog Post Date-->
                <div class="post-date">12 January, 2021</div>
                <!--/Blog Post Date-->

                <!--Blog Post Cat-->
                <div class="post-cat">NEWS</div>
                <!--/Blog Post Cat-->

                <!--Blog Post Title-->
                <div class="post-title">
                  <h2>
                    Ship of the imagination the sky calls to us culture made.
                  </h2>
                </div>
                <!--Blog Post Title-->

                <!--Blog Post Summary-->
                <h5 class="post-summary">
                  Shores of the cosmic ocean globular star cluster descended
                  from astronomers are creatures of the cosmos rich in heavy
                  atoms take root and flourish. With pretty stories for which
                  there's...
                </h5>
                <!--/Blog Post Summary-->
              </a>
            </div>
            <!--/Blog Post-->
            <!--Blog Post-->
            <div class="post alioth-post sticky">
              <!--Blog Post Image-->
              <div class="post-image">
                <img alt="Post Image" src="img/post_01.jpg" />
              </div>
              <!--/Blog Post Image-->

              <!--Blog Post URL--><a href="single-post.html">
                <!--Blog Post Date-->
                <div class="post-date">12 January, 2021</div>
                <!--/Blog Post Date-->

                <!--Blog Post Cat-->
                <div class="post-cat">NEWS</div>
                <!--/Blog Post Cat-->

                <!--Blog Post Title-->
                <div class="post-title">
                  <h2>
                    Ship of the imagination the sky calls to us culture made.
                  </h2>
                </div>
                <!--Blog Post Title-->

                <!--Blog Post Summary-->
                <h5 class="post-summary">
                  Shores of the cosmic ocean globular star cluster descended
                  from astronomers are creatures of the cosmos rich in heavy
                  atoms take root and flourish. With pretty stories for which
                  there's...
                </h5>
                <!--/Blog Post Summary-->
              </a>
            </div>
            <!--/Blog Post-->


            <!--Post Images Wrap (Don't Touch)-->
            <div class="post-images"></div>
            <!--Post Images Wrap (Don't Touch)-->
          </div>
          <!--/Alioth Blog List-->

          <!-- Button -->
          <div class="a-button style_1">
            <!-- Button URL-->
            <a href="/blog">Read All Posts</a>
            <!--/ Button URL-->

            <!-- Button Icon-->
            <i class="icofont-arrow-right"></i>
            <!--/ Button Icon-->
          </div>
          <!--/ Button -->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->

    <!--Section -->
    <div class="section">
      <!--Wrapper-->
      <div class="wrapper-full no-margin">
        <!--Column-->
        <div class="c-col-12 no-gap no-margin">
          <!-- Page Nav -->
          <div class="alioth-page-nav" style="background-color: #f1f1f1">
            <!--Page URL-->
            <a href="/works">
              <!-- Page Title -->
              <div class="page-title">Works</div>
              <!-- /Page Title -->

              <!-- Page Sub-Title -->
              <div class="page-sub-title">See what we did before.</div>
              <!-- /Page Sub-Title -->
            </a>
          </div>
          <!-- /Page Nav -->
        </div>
        <!--/Column-->
      </div>
      <!--/Wrapper-->
    </div>
    <!--/Section -->
  </div>
  <!-- /Page Content -->
</div>
