<div id="page" data-barba="container">
  <div id="content" class="page-content">
    <div class="section">
      <div class="wrapper">
        <span class="a-empty-space" style="height: 200px"></span>
        <div class="c-col-12">
          <div class="hello-heading linked-text dark">
            <h1 style="font-size: 6vw" class="big-title">
              Merhaba,biz
              <br /><a data-target="Hakkımızda" href="/about">Finzeta</a>,
              <br />kurumsal firmalar için <br />
              <a data-target="Hizmetlerimiz" href="/our-services"
                >yapay zekâlı süreç yönetimi</a
              >
              <br />çözümleri sunuyoruz. <br /><a
                data-target="Portföy"
                href="/works"
                >Operasyonlarınızı</a
              >
              <br />kolaylaştırmak, <br /><a
                data-target="Hizmetlerimiz"
                href="/our-services"
                >verimliliği artırmak</a
              >
              <br />ve iş süreçlerinizi optimize etmek için buradayız.
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="wrapper-full no-gap">
        <div class="c-col-3"></div>
        <div class="c-col-9 no-gap">
          <div
            class="showcase-video"
            data-plyr-provider="vimeo"
            data-plyr-embed-id="591025241"
          ></div>
        </div>
      </div>
    </div>

    <div class="section no-margin">
      <div class="wrapper no-margin">
        <div class="c-col-3"></div>
        <div class="c-col-9">
          <div class="text-wrapper">
            <h3
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Finzeta, yapay zekâ destekli süreç yönetimiyle işlerinizi
              kolaylaştırır. Operasyonlarınızı optimize ederek zamandan tasarruf
              etmenizi ve verimliliğinizi artırmanızı sağlıyoruz.
            </h3>
          </div>
          <span
            data-color="rgba(25,27,29,.6)"
            data-anim="true"
            class="alioth-seperator"
          ></span>
        </div>
        <div class="c-col-3 hide_tablet"></div>
        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Ürün Stratejisi
              <br />UX ve UI Tasarımı <br />Frontend Geliştirme <br />Backend
              Geliştirme <br />Kalite Güvencesi <br />Destek Hizmetleri
            </h5>
          </div>
        </div>
        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Strateji
              <br />Marka Kimliği Tasarımı <br />Kreatif Web Tasarımı
              <br />Grafik Tasarımı ve CGI <br />İçerik Geliştirme
              <br />Yaratıcı Frontend
            </h5>
          </div>
        </div>

        <div class="c-col-3">
          <div class="text-wrapper">
            <h5
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".3"
              data-animation="linesUp"
              style="color: rgba(25, 27, 29, 0.6)"
            >
              Backend Geliştirme
              <br />Mobil Geliştirme <br />Fotoğrafçılık <br />Video Üretimi
            </h5>
          </div>
        </div>

        <div style="float: right" class="c-col-9">
          <div class="a-button style_1">
            <a href="/our-services">Tüm Hizmetlerimizi Gör</a>
            <i class="icofont-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="wrapper no-gap">
        <div class="c-col-12 no-gap">
          <div data-navigate="scroll" class="a-recent-works light">
            <div
              style="color: rgba(25, 27, 29, 0.2)"
              class="recent-works-bg-text"
            >
              Projelerimiz
            </div>
            <div class="a-recent-works-nav">
              <div class="arw-prev">
                <i class="icofont-long-arrow-left"></i>
              </div>
              <div class="arw-next">
                <i class="icofont-long-arrow-right"></i>
              </div>
            </div>
            <div class="recent-works-wrapper">
              <div class="ar-work">
                <a href="project-1.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-1/project-featured-image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">Kurumsal Süreç Yönetimi</div>
                  <div class="ar-work-cat">Yapay Zekâ Entegrasyonu</div>
                </a>
              </div>
              <div class="ar-work">
                <a href="project-2.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-2/project_featured_image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">
                    Veri Odaklı Karar Mekanizmaları
                  </div>
                  <div class="ar-work-cat">Analiz ve Raporlama</div>
                </a>
              </div>
              <div class="ar-work">
                <a href="project-3.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-3/project_featured_image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">Operasyonel Verimlilik</div>
                  <div class="ar-work-cat">Proje Yönetimi</div>
                </a>
              </div>
              <div class="ar-work">
                <a href="project-4.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-5/project_featured_image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">Stratejik Planlama</div>
                  <div class="ar-work-cat">Kurum İçi Çözümler</div>
                </a>
              </div>
              <div class="ar-work">
                <a href="project-5.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-5/project_featured_image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">Entegre Süreç Yönetimi</div>
                  <div class="ar-work-cat">Otomasyon ve Teknoloji</div>
                </a>
              </div>
              <div class="ar-work">
                <a href="project-6.html">
                  <div class="ar-work-image">
                    <img
                      alt="Proje Görseli"
                      src="img/projects/project-6/project_featured_image.jpg"
                    />
                  </div>
                  <div class="ar-work-title">Müşteri Deneyimi</div>
                  <div class="ar-work-cat">Yapay Zekâ Destekli CRM</div>
                </a>
              </div>
            </div>
            <div class="a-button style_1">
              <a href="/works">Tüm Projelerimizi Gör</a>
              <i class="icofont-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="wrapper-small no-margin">
        <div class="c-col-12">
          <div class="text-wrapper">
            <h1
              class="has-anim"
              data-stagger="0.01"
              data-duration="1.5"
              data-delay=".1"
              data-animation="charsUp"
            >
              Güvenilir İş Ortaklarımız.
            </h1>
          </div>
          <div class="text-wrapper">
            <h5
              style="color: rgba(25, 27, 29, 0.6)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1"
              data-delay=".1"
              data-animation="linesUp"
            >
              Finzeta, yapay zekâ destekli süreç yönetimiyle kurumsal firmaların
              operasyonlarını optimize etmelerine, daha verimli çalışmasına ve
              hedeflerine ulaşmasına yardımcı olur. Güçlü iş ortaklıklarımız,
              sektördeki başarılarımızın temelidir.
            </h5>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="c-col-12">
          <div data-anim="true" class="alioth-clients column-4">
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_01-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_02-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_03-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_04-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_05-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_06-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_10-dark.png"
              /></a>
            </div>
            <div class="a-client">
              <a href="#."
                ><img alt="Müşteri Logosu" src="img/client_11-dark.png"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div style="background: #101010" class="section">
      <span class="a-empty-space" style="height: 75px"></span>
      <div class="wrapper-small">
        <div class="c-col-6">
          <div class="text-wrapper">
            <h1
              class="has-anim big-title"
              data-stagger="0.01"
              data-duration="1"
              data-delay=".1"
              data-animation="charsUp"
              style="color: #fff"
            >
              Finzeta:
              <br />Yapay Zekâ ile
              <br />Geleceği Şekillendirin.
            </h1>
          </div>
        </div>
        <div
          class="c-col-6 has-parallax"
          data-parallax-strength="0.3"
          data-parallax-direction="down"
        >
          <div class="text-wrapper">
            <h4
              style="color: hsla(0, 0%, 100%, 0.4)"
              class="has-anim"
              data-stagger="0.1"
              data-duration="1.5"
              data-delay=".1"
              data-animation="linesUp"
            >
              Finzeta, yapay zekâ teknolojileriyle kurumsal firmalar için yenilikçi 
              süreç yönetimi çözümleri sunar. Operasyonel verimliliği artırmak, 
              kaynak kullanımını optimize etmek ve karar alma süreçlerini hızlandırmak 
              için tasarlanmış sistemlerimiz, iş dünyasında rekabet avantajı sağlar.
            </h4>
          </div>
        </div>
        <div class="c-col-12">
          <span class="a-empty-space" style="height: 50px"></span>
          <div data-anim="true" class="alioth-awards">
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">En İyi İş Yönetim Platformu</div>
                  <div class="award-loc">TechAwards</div>
                </div>
                <div class="award-date">2023</div>
              </a>
            </div>
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">Yapay Zekâ Yenilik Ödülü</div>
                  <div class="award-loc">AI Excellence</div>
                </div>
                <div class="award-date">2022</div>
              </a>
            </div>
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">En İyi Süreç Yönetimi Çözümü</div>
                  <div class="award-loc">Global Business Awards</div>
                </div>
                <div class="award-date">2021</div>
              </a>
            </div>
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">En İyi Veri Analitiği Platformu</div>
                  <div class="award-loc">DataTech</div>
                </div>
                <div class="award-date">2020</div>
              </a>
            </div>
            <div class="a-award">
              <a href="#.">
                <div class="award-dets">
                  <div class="award-title">En İnovatif Yazılım Çözümü</div>
                  <div class="award-loc">Innovation Awards</div>
                </div>
                <div class="award-date">2019</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="a-empty-space" style="height: 50px"></span>
    </div>
    
    <div class="section" style="margin-top: 100px">
      <div class="wrapper-small no-margin">
        <div class="c-col-12 hide_mobile">
          <div
            data-parallax="true"
            data-image="false"
            data-background-text="Blog Yazıları"
            class="alioth-heading"
          >
            <div class="ah-title">
              <h1
                class="has-anim big-title"
                data-stagger="0.01"
                data-duration="1"
                data-delay=".1"
                data-animation="charsUp"
              >
                En Son Yazılar
              </h1>
            </div>
          </div>
        </div>
        <div class="c-col-12 hide_desktop">
          <div
            data-parallax="true"
            data-background-text="Blog Yazıları"
            class="alioth-heading"
          >
            <div class="ah-title">
              <h1
                class="has-anim big-title"
                data-stagger="0.01"
                data-duration="1"
                data-delay=".1"
                data-animation="charsUp"
              >
                En Son Yazılar
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-small">
        <div class="c-col-12">
          <div class="alioth-blog blog-list">
            <div class="post alioth-post sticky">
              <div class="post-image">
                <img alt="Yazı Görseli" src="img/post_01.jpg" />
              </div>
              <a href="single-post.html">
                <div class="post-date">12 Ocak, 2021</div>
                <div class="post-cat">Haberler</div>
                <div class="post-title">
                  <h2>Yapay Zekâ ile Süreç Yönetiminde Dönüşüm</h2>
                </div>
                <h5 class="post-summary">
                  Yapay zekâ destekli çözümler, kurumsal süreçleri nasıl daha verimli hale getiriyor? Detaylar için yazımızı okuyun.
                </h5>
              </a>
            </div>
            <div class="post alioth-post sticky">
              <div class="post-image">
                <img alt="Yazı Görseli" src="img/post_02.jpg" />
              </div>
              <a href="single-post.html">
                <div class="post-date">5 Ocak, 2021</div>
                <div class="post-cat">Teknoloji</div>
                <div class="post-title">
                  <h2>Veri Analitiği ile Geleceği Planlamak</h2>
                </div>
                <h5 class="post-summary">
                  Finzeta’nın sunduğu veri analitiği çözümleri, iş dünyasında nasıl rekabet avantajı sağlıyor? Öğrenmek için tıklayın.
                </h5>
              </a>
            </div>
            <div class="post alioth-post sticky">
              <div class="post-image">
                <img alt="Yazı Görseli" src="img/post_03.jpg" />
              </div>
              <a href="single-post.html">
                <div class="post-date">28 Aralık, 2020</div>
                <div class="post-cat">İnovasyon</div>
                <div class="post-title">
                  <h2>İş Süreçlerinde Otomasyonun Önemi</h2>
                </div>
                <h5 class="post-summary">
                  Otomasyon ve yapay zekâ teknolojileri, süreçleri nasıl optimize eder? Finzeta’nın çözüm önerilerini keşfedin.
                </h5>
              </a>
            </div>
            <div class="post-images"></div>
          </div>
          <div class="a-button style_1">
            <a href="/blog">Tüm Yazılarımızı Görün</a>
            <i class="icofont-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="wrapper-full no-margin">
        <div class="c-col-12 no-gap no-margin">
          <div class="alioth-page-nav" style="background-color: #f1f1f1">
            <a href="/works">
              <div class="page-title">Projelerimiz</div>
              <div class="page-sub-title">Bugüne kadar neler yaptığımızı keşfedin.</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
