<div id="page" data-barba="container">

    <!-- Page Content -->
    <div id="content" class="page-content">
        <!--Section-->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper-full no-gap">

                <!--Column-->
                <div class="c-col-12 no-gap">

                    <!--Portfolio Showcase List-->
                    <div class="portfolio-showcase showcase-list" data-barba-namespace="sc-list">

                        <!--List Projects Wrapper-->
                        <div class="showcase-list-wrapper">

                            <!--Project-->
                            <div class="sl-project">
                                <a href="/project">
                                    <div class="sl-project-title">Finzeta Muhasebe Çözümü</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">Yapay Zekâ Destekli Muhasebe</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-8/project_featured_image.jpg">
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <a href="/project">
                                    <div class="sl-project-title">Otomatik Fatura Analizi</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">OCR ve Veri Analitiği</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-6/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <a href="/project">
                                    <div class="sl-project-title">Gelir-Gider Yönetimi</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">Finansal Planlama</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-1/project-featured-image.jpg">
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->


                            <!--Project-->
                            <div class="sl-project">

                                <a href="/project">
                                    <div class="sl-project-title">Müşteri Yönetimi Modülü</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">CRM Entegrasyonu</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-2/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <a href="/project">
                                    <div class="sl-project-title">Raporlama ve Görselleştirme</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">İleri Veri Analitiği</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <!--Project Video-->
                                    <div class="showcase-video" data-plyr-provider="vimeo" data-plyr-embed-id="586727575"></div>
                                    <!--/Project Video-->

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <a href="/project">
                                    <div class="sl-project-title">E-Ticaret Entegrasyonu</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">E-Ticaret Yönetimi</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-3/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <a href="/project">
                                    <div class="sl-project-title">Harcama Analiz Modülü</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">Finansal Optimizasyon</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">


                                    <!--Project Video-->
                                    <div class="showcase-video" data-plyr-provider="vimeo" data-plyr-embed-id="631871963"></div>
                                    <!--/Project Video-->
                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">

                                <a href="/project">
                                    <div class="sl-project-title">Veri Güvenliği Çözümleri</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">Siber Güvenlik</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-5/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                            <!--Project-->
                            <div class="sl-project">
                                <a href="/project">
                                    <div class="sl-project-title">Personel Maaş Yönetimi</div>
                                    <div class="sl-project-meta">
                                        <div class="sl-project-cat">İK Çözümleri</div>
                                        <div class="sl-project-year">2024</div>
                                    </div>
                                </a>

                                <!--Project Image-->
                                <div class="sl-project-image">

                                    <img alt="Project Image" src="img/projects/project-9/project_featured_image.jpg">

                                </div>
                                <!--/Project Image-->

                            </div>
                            <!--/Project-->

                        </div>
                        <!--/List Projects Wrapper-->

                        <!--List Project Images (Don't Touch)-->
                        <div class="sl-images"></div>
                        <!--List Project Images (Don't Touch)-->

                        <!--Showcase Footer-->
                        <div class="showcase-footer">

                            <!--Showcase Footer Left-->
                            <div class="showcase-footer-left">

                  <!--Scroll Notice-->
                            <div class="scroll-notice" data-target="#secondSec">
                                <span class="sn_bef"></span>
                                <span>Aşağı Kaydır</span>
                            </div>
                            <!--/Scroll Notice-->
                            </div>
                            <!--/Showcase Footer Left-->

                            <!--Showcase Footer Right-->
                            <div class="showcase-footer-right">

                                <!--Plus Button-->
                                <div class="a-plus-button">
                                    <!--Plus Button URL--><a href="/works">
                                        <span><span>Tüm Projeler</span></span>
                                    </a>
                                </div>
                                <!--/Plus Button-->

                            </div>
                            <!--/Showcase Footer Right-->

                        </div>
                        <!--/Showcase Footer-->

                    </div>
                      <!--/Portfolio Showcase List-->

                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

        <div id="secondSec" class="section no-margin" style="background: #1A1A1A">
            <div class="wrapper">
                <span class="a-empty-space" style="height: 100px"></span>
                <div class="c-col-9">
                    <div class="text-wrapper">
                        <h3 style="color: #fff" class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Keşfedilmeyi bekleyen sınırsız olasılıklarla dolu bir dünyaya açılan kapı. Yenilikçi çözümlerimizle, iş süreçlerinizi optimize ediyor ve başarıya ulaşmanız için yanınızda oluyoruz.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="wrapper-full">
                <div class="c-col-4 has-parallax" data-parallax-strength="0.1" data-parallax-direction="down">
                    <div class="single-image">
                        <img alt="Vizyon Görseli" src="img/about-us-light-1.jpg">
                    </div>
                </div>
                <div class="c-col-4">
                    <div class="single-image">
                        <img alt="Misyon Görseli" src="img/about-us-light-2.jpg">
                    </div>
                </div>
                <div class="c-col-4 has-parallax" data-parallax-strength="0.1" data-parallax-direction="up">
                    <div class="single-image">
                        <img alt="Hedefler Görseli" src="img/about-us-light-3.jpg">
                    </div>
                </div>
            </div>
            <div class="wrapper no-margin">
                <div class="c-col-4"></div>
                <div class="c-col-8">
                    <div class="text-wrapper">
                        <h4 style="color: #fff" class="has-anim" data-stagger="0.1" data-duration="1.5" data-delay=".1" data-animation="linesUp">
                            Teknolojiyi iş süreçlerinize entegre ederek daha akıllı, daha hızlı ve daha verimli çözümler sunuyoruz. Güçlü veri analitiği ile iş dünyanızı yeniden şekillendirin. Başarıya giden yolda stratejik ortaklığınız biziz.
                        </h4>
                    </div>
                    <div class="a-button style_1 light">
                        <a href="/about">Hakkımızda</a>
                        <i class="icofont-arrow-right"></i>
                    </div>
                </div>
                <span class="a-empty-space" style="height: 100px"></span>
            </div>
        </div>
        


        <!--Section -->
        <div class="section">

            <!--Wrapper-->
            <div class="wrapper-full no-margin">

                <!--Column-->
                <div class="c-col-12 no-gap no-margin">

                    <!-- Page Nav -->
                    <div class="alioth-page-nav" style="background-color: #f1f1f1">

                        <!--Page URL-->
                        <a href="contact.html">

                            <!-- Page Title -->
                            <div class="page-title">Hakkımızda</div>
                            <!-- /Page Title -->

                            <!-- Page Sub-Title -->
                            <div class="page-sub-title">Daha önce yaptıklarımızı inceleyin.</div>
                            <!-- /Page Sub-Title -->

                        </a>

                    </div>
                    <!-- /Page Nav -->


                </div>
                <!--/Column-->

            </div>
            <!--/Wrapper-->

        </div>
        <!--/Section -->

    </div>
    <!-- /Page Content -->

</div>